* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
}

#box1 {
    height: 300px;
    width: 300px;
    background-color: crimson;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#box2 {
    height: 300px;
    width: 300px;
    background-color: rgb(241, 73, 22);
}

h1 {
    color: #FFB000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    height: 250px;
    width: 250px;
    background-color: lightpink;
}